# archivos de compilación de PyInstaller
build/
.exe
dist/linux/gitbulk-gui-linux
dist/linux/gitbulk-linux

# entornos virtuales de Python
venv/
env/
.env/

# cache compilada de Python
__pycache__/
*.pyc
*.pyo

# cache de pruebas (Pytest)
.pytest_cache/
*.exe
