# Gitbulk - Dependencias del proyecto

# --- Dependencias de Ejecución ---
rich>=13.0.0
GitPython>=3.1.0
# (El programa base utiliza estas dependencias para sus procesos paralelos y visuales)

# --- Dependencias de Desarrollo y Compilación ---
# Requerido para generar el ejecutable (.exe / binario)
pyinstaller>=6.0.0